img{
    height: 150px;
    width: 150px
}
.foods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.food{
    background-color: aliceblue;
    border-radius: 20px;
    transition: all 2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.food:hover{
    transform: scale(1.05);
}