<h2>Main Component</h2>
<div>  
  <h2>Hollywood Movies</h2>
  <div class="moviesblock">
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
  </div>
</div>
<div>  
  <h2>Hollywood Movies</h2>
  <div class="moviesblock">
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
  </div>
</div>
<div>  
  <h2>Hollywood Movies</h2>
  <div class="moviesblock">
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
  </div>
</div>
<div>  
  <h2>Hollywood Movies</h2>
  <div class="moviesblock">
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
  </div>
</div>
<div>  
  <h2>Hollywood Movies</h2>
  <div class="moviesblock">
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
    <app-movies></app-movies>
  </div>
</div>
